<!-- <ng-headerbar active="true"></ng-headerbar> -->
<ng-carousel play="'6000'" rotation-cursor="false" arrow="true" effect="'fade'" target-arrow="'.end-scroll'">
<div class="carousel-caption">
    <div class="col-lg-12">
        <ng-headerbar active="false" fixed="false" transparence="true" ></ng-headerbar>
    </div>
    <div class="col-ms-12">
        <div class="intro-message">
            <h1>Négrier Aurélien</h1>
            <h3>FRENCH SOFTWARE DEVELOPER</h3>
            <hr class="intro-divider">
            <div class="intro-icon-social">
                <ul class="list-inline button-blue">
                    <li class="button-network-name">
                        <a href="{{home.contact.twitter}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li class="button-network-name">
                        <a href="{{home.contact.github}}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li class="button-network-name">
                        <a href="{{home.contact.linkedin}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="item active carousel-image">
    <img class="img-diplome" ng-src="assets/img/remise_diplome.jpg">
</div>

<div class="item carousel-image">
    <img class="img-friends" ng-src="assets/img/friends.jpg">
</div>
<div class="item carousel-image">
    <img class="img-promo" ng-src="assets/img/promo.jpg">
</div>
<div class="item carousel-image">
    <img class="img-team" ng-src="assets/img/team.jpg">
</div>

</ng-carousel>
<section class="section-welcom-icon">
    <section class="section-welcom-header end-scroll" id="show-header-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>BIENVENUE SUR<font class="home-page-color"> MON </font>SITE WEB</h2>
                </div>
            </div>
            <div class="row">
                <div class="heading-spacer col-xs-offset-5 col-xs-1 text-center"></div>
            </div>
            <div class="row">
                <p class="middle-title">Bienvenue ! Mon nom est Négrier Aurélien et je suis développeur. J'ai réalisé ce site afin de me faire une petite place dans le monde du web à travers la présentation de mes projets et mes compétences.
                </p>
            </div>
        </div>
    </section>

    <section class="section-icon">
        <div class="row">
            <div class="block col-md-offset-1 col-md-2 col-sm-6 text-center">
                    <a href="#/project"><i class="fa fa-puzzle-piece fa-3x big-icon"></i></a>
                    <h5>PROJETS</h5>
                    <p>Découvrez une partie des projets que j'ai réalisés pendant mes études</p>
            </div>
            <div class="block col-md-2 col-sm-6 text-center">
                <a href="#/blog"><i class="fa fa-tasks fa-3x big-icon"></i></a>
                <h5>BLOG</h5>
                <p>C'est ici où j'écris divers articles sur ma vie et ma passion</p>
            </div>
            <div class="block col-md-2 col-sm-6 text-center">
                <a href="#/skills"><i class="fa fa-trophy fa-3x big-icon"></i></a>
                <h5>COMPÉTENCES</h5>
                <p>Présentation de mes connaissances et compétences en programmation</p>
            </div>
            <div class="block col-md-2 col-sm-6 text-center">
                <a href="#/about"><i class="fa fa-search fa-3x big-icon"></i></a>
                <h5>À PROPOS</h5>
                <p>Là où vous en apprendrez un peu plus sur ma vie personnelle</p>
            </div>
            <div class="block col-md-2 col-sm-12 text-center">
                <a href="#/contact"><i class="fa fa-location-arrow fa-3x big-icon"></i></a>
                <h5>CONTACTER MOI</h5>
                <p>Besoin de me contactez ?</p>
            </div>
        </div>
    </section>
</section>

<div class="parallax-effect">
    <h2 class="text-center col-lg-12">MES PROJETS</h2>
    <div class="text-center">
        <p>Cela fait maintenant 3 ans que je me consacre pleinement à ma passion, la programmation informatique. Au cours de mon apprentissage, j'ai dû réaliser divers projets, plus ou moins difficiles, individuellement ou en groupe. Vous trouverez dans cette rubrique les projets que j'ai jugé les plus importants et que j'ai eu le plaisir de partager ici.</p>
    </div>
    <div class="text-center button-blue">
        <a href="#/project">Tous les projets</a>
    </div>
</div>

<section class="section-project">
    <div class="row">
        <div ng-repeat="item in home.favoriteProject" class="col-sm-4 image-page">
            <a href="#/project/{{item.index}}">
                <img ng-src="{{item.src}}">
                <h1>{{item.name}}</h1>
            </a>
        </div>
    </div>
</section>
</div>
<section class="section-blog">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Article récemment publié</h2>
        </div>
    </div>
    <div class="padding-line">
        <div class="line"></div>
    </div>
    <div class="row ">
        <h3 class="col-xs-12 none-article text-center">Aucun article pour le moment</h3>
       <!--  <div ng-repeat="x in [0, 1, 2]" class="blog-item ">
            <div class=" col-md-4 col-sm-6">
                <div class="row blog-size">
                    <div class="block-img col-xs-12">
                        <div class="style-img-blog">
                            <img ng-src="/assets/img/swift.jpg">
                            <div class="content-blog">
                                <div class="content-text col-xs-10">
                                    <h3>Swift</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuusmod</p>
                                </div>
                                <div class="content-button col-xs-2">
                                    <a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                        <i class="fa fa-clock-o"></i>
                                    </a>
                                    <a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                        <i class="fa fa-comments"></i>
                                    </a>
                                    <a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                        <i class="fa fa-hand-o-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="button-blue">
                <a href="#/blog">Mon blog</a>
            </div>
        </div>
    </div>
</section>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="hidden-sm hidden-xs">En apprendre plus sur moi </h2>
            </div>
            <div class="col-lg-6 text-center">
                <div class="intro-icon-social">
                    <ul class="list-inline button-blue">
                        <li class="button-network-name">
                            <a href="{{home.contact.twitter}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li class="button-network-name">
                            <a href="{{home.contact.github}}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li class="button-network-name">
                            <a href="{{home.contact.linkedin}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<ng-footer color="#5F9BA3"></ng-footer>
