<section class="section-header blog">
	<div class="row">
		<div class="col-xs-push-4 col-xs-4 text-center">
			<div class="main-icon">
				<i class="fa fa-tasks"></i>
			</div>
		</div>
		<div class="col-xs-8 search-bar">
			<form method="get" action="/search" id="search">
				<input name="q" type="text" size="40" placeholder="Rechercher..." />
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 ">
			<h2>BLOG</h2>


			<p>C'est ici où j'écris divers articles sur ma vie et ma passion</p>
		</div>
	</div>
	<div class="col-sm-4 search-bar-small">
		<form method="get" action="/search" id="search">
			<input name="q" type="text" size="40" placeholder="Rechercher..." />
		</form>
	</div>
</section>

<section class="section-all-blog">
	<div class="row">
		<div class="blog-item ">
			<div class=" col-md-3 col-sm-6">
				<div class="row">
					<div class="block-img col-xs-12">
						<div class="style-img-blog">
							<img src="http://www.eos-numerique.com/maphoto/1207/233467100.jpg">
							<div class="content-blog">
								<div class="content-text col-xs-10">
									<h3>Swift</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuusmod</p>
								</div>
								<div class="content-button col-xs-2">
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-clock-o"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-comments"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-item ">
			<div class=" col-md-3 col-sm-6">
				<div class="row">
					<div class="block-img col-xs-12">
						<div class="style-img-blog">
							<img src="http://www.eos-numerique.com/maphoto/1207/233467100.jpg">
							<div class="content-blog">
								<div class="content-text col-xs-10">
									<h3>Swift</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuusmod</p>
								</div>
								<div class="content-button col-xs-2">
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-clock-o"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-comments"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-item ">
			<div class=" col-md-3 col-sm-6">
				<div class="row">
					<div class="block-img col-xs-12">
						<div class="style-img-blog">
							<img src="http://www.eos-numerique.com/maphoto/1207/233467100.jpg">
							<div class="content-blog">
								<div class="content-text col-xs-10">
									<h3>Swift</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuusmod</p>
								</div>
								<div class="content-button col-xs-2">
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-clock-o"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-comments"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-item ">
			<div class=" col-md-3 col-md-push-0 col-sm-push-3 col-sm-6">
				<div class="row">
					<div class="block-img col-xs-12">
						<div class="style-img-blog">
							<img src="http://www.eos-numerique.com/maphoto/1207/233467100.jpg">
							<div class="content-blog">
								<div class="content-text col-xs-10">
									<h3>Swift</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuusmod</p>
								</div>
								<div class="content-button col-xs-2">
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-clock-o"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-comments"></i>
									</a>
									<a href="#/" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ng-footer color="#97C01A"></ng-footer>